.tipo1 {
    color: black;
    font-size: 30px;
}

.nombre{
    color: cornflowerblue;
    font-size: large;
}

.informacion{
    font-size: 15px;
    color:black;
}

button {
    background-color:grey;
}